@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --titulos: #e67e22;
  --textos: #d5f5e3;
  --fecha: #8a8a8a;
  --parrafos: 0.9rem;
  --fecha_p: 0.8rem;
  --h1: 4rem;
  --h2: 3rem;
  --h3: 1rem;
  --titulo_pagina: 2rem;
  --footer_h2: 4rem;
  --hero_info-p: 2rem;
  --titulo_anuncioP: 2rem;
  --h3_foro: 4rem;
  --link-footer: 1.5rem;
  --nav_link: 1.5rem;
}

/* Configuraciones universales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Configuracion de textos */

h1 {
  font-weight: 900;
  font-size: var(--h1);
  color: var(--titulos);
}

h2 {
  font-weight: 900;
  font-size: var(--h2);
  color: var(--titulos);
}

h3 {
  font-size: var(--h3);
}

p, h3 {
    margin: 0.5rem 0;
}

.grid_fotoPrueba p,
.foro_info p,
.grid_info1 p,
.grid_info2 p,
.grid_info3 p {
  font-size: var(--parrafos);
}

.grid_fotoPrueba h3 {
  font-size: 2.5rem;
  color: var(--titulos);
}

.grid_fecha,
.grid_fotoPrueba .grid_fecha {
  font-size: var(--fecha_p);
  color: var(--fecha);
}

.hero_informacion p {
  font-size: var(--hero_info-p);
  color: var(--textos);
}

a {
  text-decoration: none;
  margin: 0 1rem;
  color: var(--textos);
  font-size: 1.5rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-weight: bolder;
}

/* Extras Configuraciones */

button {
  height: 4rem;
  width: 10rem;
  border-radius: 15px;
  background: linear-gradient(
    0deg,
    hsl(168deg 76% 37%) 0%,
    hsl(165deg 78% 39%) 18%,
    hsl(162deg 80% 41%) 26%,
    hsl(159deg 82% 43%) 33%,
    hsl(156deg 83% 45%) 39%,
    hsl(153deg 86% 47%) 44%,
    hsl(150deg 88% 49%) 50%,
    hsl(147deg 90% 51%) 56%,
    hsl(144deg 92% 53%) 61%,
    hsl(141deg 94% 55%) 67%,
    hsl(138deg 95% 56%) 74%,
    hsl(135deg 98% 58%) 82%,
    hsl(132deg 100% 60%) 100%
  );
  border: none;
  color: #d5f5e3;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

img {
  height: 5rem;
  width: 5rem;
}

/* Hover Universales */

button:hover {
  transform: scale(1.1); /* Agranda el botón un 10% */
  color: #229954;
}

a:hover {
  border-bottom: 2px solid var(--textos);
  color: #229954;
  transform: scale(1.1);
}

/* Inicio Header */
/* HEADER - hero */

header {
  margin-bottom: 1rem;
}

.hero {
  background-image: linear-gradient(
      180deg,
      rgba(0, 255, 127, 0.5) 0%,
      rgba(0, 230, 120, 0.5) 4%,
      rgba(0, 210, 110, 0.5) 8%,
      rgba(0, 190, 100, 0.5) 13%,
      rgba(0, 170, 90, 0.5) 17%,
      rgba(0, 150, 80, 0.5) 21%,
      rgba(0, 130, 70, 0.5) 25%,
      rgba(0, 110, 60, 0.5) 29%,
      rgba(0, 90, 50, 0.5) 33%,
      rgba(0, 70, 40, 0.5) 37%,
      rgba(0, 50, 30, 0.5) 42%,
      rgba(3, 93, 63, 0.5) 46%,
      rgba(1, 75, 38, 0.538) 50%
    ),
    url(../img/hero.jpg); /* La imagen queda detrás del gradiente */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40rem;
  position: relative;
  padding: 0.1px;
  background-attachment: fixed;
}

.hero_efecto {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
}

.hero_informacion {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .hero_informacion p {
      font-size: var(--hero_info-p);
      font-weight: bold;
  }
  
  .hero_informacion h1,
  .hero_informacion p,
  .hero_informacion button {
    margin: 1rem 0;
  }
  

/* HEADER - nav */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 15px;
  background: transparent;
  transition: all 0.5s ease-in-out;
}



/* Navbar animación JS */
.nav-fixed {
  position: fixed;
  top: -80px; 
  left: 0;
  width: 100%;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-image: linear-gradient(
    to bottom,
    #25d37d,
    #0ad66b,
    #00d956,
    #00dc3b,
    #0cde00
  );
}


.nav-show {
  top: 0;
  transition: top 0.4s ease-out; 
}


.nav-hide {
  top: -80px;
  transition: top 0.4s ease-in; 
}

.nav_logo {
  padding: 0.1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo h2 {
  font-size: var(--titulo_pagina);
}

.nav_logo img {
  margin: 0 1rem;
}

.nav_link {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
}

.nav_link a, .nav_sesion a {
    font-size: var(--nav_link);
}


.nav_sesion {
    background-color: #00dc3b;
    padding: 0.8rem;
    border-radius: 10px;
}


/* Fin - HEADER */

/* Main */

main {
  display: grid;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "foto foto foro"
    "foto foto foro"
    "info1 info2 info3";
  gap: 2rem;
}

/* Main areas */

/* Anuncio Principal */
.grid_fotoPrueba {
  grid-area: foto;
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.38s ease-in-out;
}

.grid_fotoPrueba:hover {
    background-color:   #00ff6b;
    transform: scale(0.9); /* Reduce el tamaño al 80% */
}

.grid_fotoPrueba h3 {
    font-size: var(--titulo_anuncioP);
}

.grid_fotoPrueba img {
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0 0;
}




/* Anuncios Secundarios Texto */
.grid_foro {
  grid-area: foro;
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.grid_foro h2, .grid_fotoPrueba h3 {
    text-align: center;
}

.grid_foro h2 {
    font-size: var(--h3_foro);
}


/* Anuncios Secundarios */
.grid_foro .foro_info {
  margin: 1.5rem 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.grid_info1 {
  grid-area: info1;
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.38s ease-in-out;
}

.grid_info1 img {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
}

.grid_info2 {
  grid-area: info2;
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.38s ease-in-out;
}

.grid_info2 img {
  width: 100%;
  height: 55%;
  border-radius: 10px 10px 0 0;
}

.grid_info3 {
  grid-area: info3;
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.38s ease-in-out;
}

.grid_info1 h3, .grid_info2 h3, .grid_info3 h3 {
    text-align: center;
}

.grid_info3 img {
  width: 100%;
  height: 55%;
  border-radius: 10px 10px 0 0;
}

.grid_info1 h3, .grid_info2 h3, .grid_info3 h3 {
    color: var(--titulos);
}

.grid_info1:hover, .grid_info2:hover, .grid_info3:hover {
    background-color:   #00ff6b;
    transform: scale(0.9); /* Reduce el tamaño al 80% */    
}

/* footer */

footer {
  background-color: #111111;
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}

.footer_link a{
  margin: 10px 0;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--link-footer);
}

.footer_nombre {
  text-align: center;
}

.footer_nombre h2 {
  border-bottom: 4.2px solid #cccccc;
  font-size: var(--footer_h2);
  margin-bottom: 10px;
}

.footer_nombre img {
  height: 55px;
  width: 55px;
}




/* Responsive */


/* telefonos */
@media (min-width: 360px ) and (max-width: 767px ) {
:root {
    --parrafos: 0.5rem;
    --fecha_p: 0.8rem;
    --h1: 2rem;
    --h2: 3rem;
    --h3: 1rem;
    --titulo_pagina: 2rem;
    --footer_h2: 2rem;
    --hero_info-p: 1rem;
    --titulo_anuncioP: 1rem;
    --h3_foro: 1.5rem;
    --link-footer: 0.9rem;
    --nav_link: 1rem;
}

.nav_sesion {
    display: none;
}

.nav_link {
    display: none;
}

main {
    display: grid;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "foto"
      "foto"
      "foro"
      "info1"
      "info2"
      "info3";
  }

  .grid_fotoPrueba img{
    height: 65%;
    width: 100%;
  }

  .grid_info1 img, .grid_info2 img, .grid_info3 img {
    height: 63%;
    width: 100%;
  }

  .footer_nombre img{
    height: 2rem;
    width: 2rem;
  }

}

/* Tablet */

@media (min-width: 768px )  and (max-width: 1439px){
    :root {
        --parrafos: 1rem;
        --fecha_p: 0.8rem;
        --h1: 3rem;
        --h2: 3rem;
        --h3: 2rem;
        --titulo_pagina: 2rem;
        --footer_h2: 2rem;
        --hero_info-p: 1rem;
        --titulo_anuncioP: 1rem;
        --h3_foro: 1.5rem;
        --link-footer: 1.2rem;
        --nav_link: 1rem;
    }
    
    .nav_sesion {
        display: none;
    }
    
    .nav_link {
        display: none;
    }
    
    main {
        display: grid;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
          "foto"
          "foto"
          "foro"
          "info1"
          "info2"
          "info3";
      }
    
      .grid_fotoPrueba img{
        height: 80%;
        width: 100%;
      }

      .grid_info1 img, .grid_info2 img, .grid_info3 img {
        height: 70%;
        width: 100%;
      }
}




